# Python에서 MY SQL 사용하기

로컬에 my sql를 설치하고, 테이블 생성과 함께 python으로 database에 있는 데이터을 불러오는 과정을 실습.

__Index__

1. my sql 설치
2. 테이블 만들기
3. csv 파일 업로드하기

__배경지식 관련 사이트 링크__

1. [데이터, 정보, 데이터베이스, 데이터베이스 관리시스템](https://www.bsidesoft.com/?p=4754)
2. [DBMS MSSQL, MySQL, Oracle 비교](https://hackersstudy.tistory.com/25)
3. [[데이터베이스] 스키마의 개념 & 특징](https://ykcb.tistory.com/entry/%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4-%EC%8A%A4%ED%82%A4%EB%A7%88%EC%9D%98-%EA%B0%9C%EB%85%90-%ED%8A%B9%EC%A7%95)
4. [데이터베이스 언어란? DDL, DCL, DML](https://coding-factory.tistory.com/entry/DB%EA%B8%B0%EC%B4%88-%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B2%A0%EC%9D%B4%EC%8A%A4-%EC%96%B8%EC%96%B4%EB%9E%80-%EB%AC%B4%EC%97%87%EC%9D%B8%EA%B0%80-DDLDMLDCL)

## 1. MY SQL 설치하기

[my sql installer](https://dev.mysql.com/downloads/installer/)에 가면 다운로드 받을 수 있으며, MySQL Installer 8.0.15 버전으로 진행하였다.

자세한 설치과정은 [T아카데미 '데이터베이스 2강'](https://tacademy.skplanet.com/live/player/onlineLectureDetail.action?seq=72)을 참조하면 좋다.

## 2. 테이블 생성

아래의 과정은 MY SQL workbench에서 수행하였다.

1. 데이터베이스를 생성한다

    `create database test;`

2. 생성한 데이터베이스로 이동해서 테이블을 생성한다. 자세한 생성법은([link](http://www.everdevel.com/MySQL/creating-table.php))를 참조.

    `create table order_t(
    userid     integer     not null,
    order_date varchar(10) not null,
    method     varchar(10) not null,
    amount     float     not null,
    discount   numeric         null
);`

3. 데이터를 생성한다.

   ```insert into order_t values(1, '2015-08-01', 'CALL' , 10000, -998.7);
insert into order_t values(1, '2015-08-03', 'TOUCH', 10000, null);
insert into order_t values(1, '2015-08-10', 'TOUCH', 10000, -950.4);
insert into order_t values(1, '2015-08-14', 'CALL' , 10000, -1000);
insert into order_t values(1, '2015-08-25', 'TOUCH', 10000, null);
insert into order_t values(2, '2015-08-03', 'TOUCH',  5000, -500 );
insert into order_t values(2, '2015-08-11', 'TOUCH',  5000, -300 );
insert into order_t values(2, '2015-08-12', 'TOUCH',  5000, -700 );
insert into order_t values(2, '2015-08-22', 'TOUCH',  5000, -1000);
insert into order_t values(2, '2015-08-28', 'TOUCH',  5000, -600 );
insert into order_t values(3, '2015-08-07', 'CALL' , 10000, -1000);
insert into order_t values(3, '2015-08-19', 'TOUCH', 10000, -1000);
insert into order_t values(3, '2015-08-30', 'CALL' , 10000, -1000);
insert into order_t values(4, '2015-08-05', 'CALL' , 20000, -3000);
insert into order_t values(4, '2015-08-18', 'TOUCH', 30000, -5000);
insert into order_t values(5, '2015-08-15', 'CALL' , 10000, -1000);
insert into order_t values(5, '2015-08-17', 'CALL' , 10000, null);
insert into order_t values(5, '2015-08-21', 'CALL' , 10000, -1000);
insert into order_t values(5, '2015-08-23', 'CALL' , 10000, -1000);
insert into order_t values(5, '2015-08-29', 'CALL' , 10000, -1000);```

## 3. python에서 my sql 연결하기

[예제로 배우는 파이썬](http://pythonstudy.xyz/python/article/202-MySQL-%EC%BF%BC%EB%A6%AC)의 내용을 참고하여 진행하였으며, Python에서 MySQL에 있는 데이터를 사용하는 일반적인 절차는 다음과 같다.

1. PyMySql 모듈을 import 한다
2. pymysql.connect() 메소드를 사용하여 MySQL에 Connect 한다. 호스트명, 로그인, 암호, 접속할 DB 등을 파라미터로 지정한다.
3. DB 접속이 성공하면, Connection 객체로부터 cursor() 메서드를 호출하여 Cursor 객체를 가져온다. DB 커서는 Fetch 동작을 관리하는데 사용되는데, 만약 DB 자체가 커서를 지원하지 않으면, Python DB API에서 이 커서 동작을 Emulation 하게 된다.
4. Cursor 객체의 execute() 메서드를 사용하여 SQL 문장을 DB 서버에 보낸다.
5. SQL 쿼리의 경우 Cursor 객체의 fetchall(), fetchone(), fetchmany() 등의 메서드를 사용하여 데이타를 서버로부터 가져온 후, Fetch 된 데이타를 사용한다.
6. 삽입, 갱신, 삭제 등의 DML(Data Manipulation Language) 문장을 실행하는 경우, INSERT/UPDATE/DELETE 후 Connection 객체의 commit() 메서드를 사용하여 데이타를 확정 갱신한다.
7. Connection 객체의 close() 메서드를 사용하여 DB 연결을 닫는다.

_* 계정 접속 관련 error가 발생할 경우, 새로 계정을 만들어 설정을 초기화 해준다._

 - 참고 사이트 :  https://stackoverflow.com/questions/20353402/access-denied-for-user-testlocalhost-using-password-yes-except-root-user

In [1]:
import pymysql

In [25]:
# MySQL Connection 연결
conn = pymysql.connect(host='localhost', user='root', password='1212', db='test')

In [26]:
# Connection 으로부터 Cursor 생성
curs = conn.cursor()

In [4]:
# SQL문 실행
sql = "select * from order_t;"
curs.execute(sql)

20

In [5]:
# 데이터 Fetch
rows = curs.fetchall()
# 전체 rows
for i in rows:
    print(i)

(1, '2015-08-01', 'CALL', 10000.0, Decimal('-999'))
(1, '2015-08-03', 'TOUCH', 10000.0, None)
(1, '2015-08-10', 'TOUCH', 10000.0, Decimal('-950'))
(1, '2015-08-14', 'CALL', 10000.0, Decimal('-1000'))
(1, '2015-08-25', 'TOUCH', 10000.0, None)
(2, '2015-08-03', 'TOUCH', 5000.0, Decimal('-500'))
(2, '2015-08-11', 'TOUCH', 5000.0, Decimal('-300'))
(2, '2015-08-12', 'TOUCH', 5000.0, Decimal('-700'))
(2, '2015-08-22', 'TOUCH', 5000.0, Decimal('-1000'))
(2, '2015-08-28', 'TOUCH', 5000.0, Decimal('-600'))
(3, '2015-08-07', 'CALL', 10000.0, Decimal('-1000'))
(3, '2015-08-19', 'TOUCH', 10000.0, Decimal('-1000'))
(3, '2015-08-30', 'CALL', 10000.0, Decimal('-1000'))
(4, '2015-08-05', 'CALL', 20000.0, Decimal('-3000'))
(4, '2015-08-18', 'TOUCH', 30000.0, Decimal('-5000'))
(5, '2015-08-15', 'CALL', 10000.0, Decimal('-1000'))
(5, '2015-08-17', 'CALL', 10000.0, None)
(5, '2015-08-21', 'CALL', 10000.0, Decimal('-1000'))
(5, '2015-08-23', 'CALL', 10000.0, Decimal('-1000'))
(5, '2015-08-29', 'CALL', 10000.0, Decimal('-1000'))

### pandas.read_sql_query

pandas를 사용하면 쿼리를 보내고, 바로 dataframe 형태로 받을 수 있다.

(참고 사이트 : https://beomi.github.io/2017/10/21/SQLAlchemy-Query-to-Pandas-DataFrame/)

In [6]:
import pandas as pd

In [7]:
a = pd.read_sql_query('select * from order_t', conn)

In [8]:
print(a)

    userid  order_date method   amount  discount
0        1  2015-08-01   CALL  10000.0    -999.0
1        1  2015-08-03  TOUCH  10000.0       NaN
2        1  2015-08-10  TOUCH  10000.0    -950.0
3        1  2015-08-14   CALL  10000.0   -1000.0
4        1  2015-08-25  TOUCH  10000.0       NaN
5        2  2015-08-03  TOUCH   5000.0    -500.0
6        2  2015-08-11  TOUCH   5000.0    -300.0
7        2  2015-08-12  TOUCH   5000.0    -700.0
8        2  2015-08-22  TOUCH   5000.0   -1000.0
9        2  2015-08-28  TOUCH   5000.0    -600.0
10       3  2015-08-07   CALL  10000.0   -1000.0
11       3  2015-08-19  TOUCH  10000.0   -1000.0
12       3  2015-08-30   CALL  10000.0   -1000.0
13       4  2015-08-05   CALL  20000.0   -3000.0
14       4  2015-08-18  TOUCH  30000.0   -5000.0
15       5  2015-08-15   CALL  10000.0   -1000.0
16       5  2015-08-17   CALL  10000.0       NaN
17       5  2015-08-21   CALL  10000.0   -1000.0
18       5  2015-08-23   CALL  10000.0   -1000.0
19       5  2015-08-29   CALL  10000.0   -1000.0

### Save Dataframe in DB

반대로 dataframe을 DB table에 저장해보자. [Pandas DataFrame을 MySQL에 저장하는 방법](https://swalloow.github.io/dataframe-to-mysql)을 참고하였다.

In [18]:
#Load the csv file
b = pd.read_csv('./order.csv')

In [19]:
b.head()

   userid  order_date method  amount  discount
0       1  2015-08-01   CALL   10000    -999.0
1       1  2015-08-03  TOUCH   10000       NaN
2       1  2015-08-10  TOUCH   10000    -950.0
3       1  2015-08-14   CALL   10000   -1000.0
4       1  2015-08-25  TOUCH   10000       NaN

In [20]:
#Import modules
from sqlalchemy import create_engine

In [21]:
# MySQL Connector using pymysql
pymysql.install_as_MySQLdb()
import MySQLdb

In [22]:
#DB connect
engine = create_engine("mysql+mysqldb://root:"+"1212"+"@localhost/test", encoding='utf-8')
conn = engine.connect()

C:\Users\home\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xB4\\xEB\\xC7\\xD1\\xB9\\xCE...' for column 'VARIABLE_VALUE' at row 533")
  result = self._query(query)

__if_exists instance__ : 데이터베이스에 테이블이 존재할 때 수행 동작을 지정한다. 'fail', 'replace', 'append' 중 하나를 사용할 수 있는데 기본값은 'fail'이다. 'fail'은 데이터베이스에 테이블이 있다면 아무 동작도 수행하지 않는다. 'replace'는 테이블이 존재하면 기존 테이블을 삭제하고 새로 테이블을 생성한 후 데이터를 삽입한다. 'append'는 테이블이 존재하면 데이터만을 추가한다.

즉, if_exists 값이 'replace'로 지정하면 table을 따로 생성하지 않아도 자동으로 생성된다.

index는 기본값이 True로 되어있다. 여기서는 index를 따로 설정하지 않았으므로 False로 바꿔준다.

참고 사이트 : https://wikidocs.net/5332

In [23]:
#svae the dataframe 
b.to_sql('order_3', con=engine, index=False, if_exists='replace')

자동으로 생성된 테이블의 스키마는 다음과 같다.

<br>
<div align="center">
    <img src="https://user-images.githubusercontent.com/30274701/54015738-f2d53d00-41c3-11e9-811c-5eb49ce72eac.JPG" width="400">
    <br>
    <i>Auto created table schema</i>
</div>
<br>

In [27]:
# confirm the table, sql에서 인식하지 못하면 처음 db연결 코드(conn and curs)를 다시 실행시켜 준다.
sql = "select * from order_3;"
curs.execute(sql)

20

In [28]:
# 데이터 Fetch
rows = curs.fetchall()
# 전체 rows
for i in rows:
    print(i)

(1, '2015-08-01', 'CALL', 10000, -999.0)
(1, '2015-08-03', 'TOUCH', 10000, None)
(1, '2015-08-10', 'TOUCH', 10000, -950.0)
(1, '2015-08-14', 'CALL', 10000, -1000.0)
(1, '2015-08-25', 'TOUCH', 10000, None)
(2, '2015-08-03', 'TOUCH', 5000, -500.0)
(2, '2015-08-11', 'TOUCH', 5000, -300.0)
(2, '2015-08-12', 'TOUCH', 5000, -700.0)
(2, '2015-08-22', 'TOUCH', 5000, -1000.0)
(2, '2015-08-28', 'TOUCH', 5000, -600.0)
(3, '2015-08-07', 'CALL', 10000, -1000.0)
(3, '2015-08-19', 'TOUCH', 10000, -1000.0)
(3, '2015-08-30', 'CALL', 10000, -1000.0)
(4, '2015-08-05', 'CALL', 20000, -3000.0)
(4, '2015-08-18', 'TOUCH', 30000, -5000.0)
(5, '2015-08-15', 'CALL', 10000, -1000.0)
(5, '2015-08-17', 'CALL', 10000, None)
(5, '2015-08-21', 'CALL', 10000, -1000.0)
(5, '2015-08-23', 'CALL', 10000, -1000.0)
(5, '2015-08-29', 'CALL', 10000, -1000.0)